### Data Cleaning Script
Cleaning up the data to load into Unity; it's uh kinda messy, but it works.

In [23]:
import pandas as pd
import numpy as np

# ignores special country cases in main dataset
tu = pd.read_csv('TIME_USE_OECD_EXTENDED.csv')
tu = tu[~tu['Country'].str.contains('\*')]
tu.head(5)

,Country,Survey year,Age of reference,Paid work or study,paid work (all jobs),travel to and from work/study,time in school or classes,research/homework,job search,other paid work or study-related,...,Leisure,sports,participating / attending events,visiting or entertaining friends,TV or radio at home,Other leisure activities,Other,religious / spiritual activities and civic obligations,other (no categories),Total
1,Austria,2008/09,15-64,306,248,29,26,1,1,1,...,291,32,9,82,109,59,8,3,5,1440
3,Canada,2015,15-64,305,238,29,21,15,2,..,...,279,21,6,53,109,89,34,4,30,1440
4,Denmark,2001,15-64,225,177,23,16,9,..,..,...,329,22,7,81,123,95,10,6,4,1440
6,Finland,2009/10,15-64,229,177,21,29,..,..,2,...,331,37,8,55,118,113,43,1,41,1440
7,France,2009/10,15-64,204,145,23,24,10,2,0,...,294,12,15,55,114,98,9,3,6,1440

In [28]:
# read in the secondary dataset
import numpy as np

bli = pd.read_csv('BETTER_LIFE_INDEX_OECD.csv')
bli.head(3)

# join the two datasets
merged = pd.merge(tu, bli, on='Country', how='inner')
merged.to_csv('MERGED_DATASET_OECD.csv', sep=',', encoding='utf-8')
merged.head(3)

,Country,Survey year,Age of reference,Paid work or study,paid work (all jobs),travel to and from work/study,time in school or classes,research/homework,job search,other paid work or study-related,...,Other,religious / spiritual activities and civic obligations,other (no categories),Total,Household net adjusted disposable income,Employment rate,Quality of support network,Life expectancy,Self-reported health,Life satisfaction
0,Austria,2008/09,15-64,306,248,29,26,1,1,1,...,8,3,5,1440,37001,72,92,82.0,71,7.2
1,Canada,2015,15-64,305,238,29,21,15,2,..,...,34,4,30,1440,34421,70,93,82.1,89,7.0
2,Denmark,2001,15-64,225,177,23,16,9,..,..,...,10,6,4,1440,33774,74,95,81.5,70,7.5